@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Poppins',sans-serif;
}

body{

min-height:100vh;

background:
radial-gradient(
circle at top,
#3d0000,
#120000,
#050505
);

color:white;

padding:20px;

}

/* PAGE */

.page{

width:100%;

min-height:100vh;

display:flex;

justify-content:center;
align-items:center;

}

/* CARD */

.card{

background:
rgba(20,20,20,.95);

border:
2px solid #ff2222;

border-radius:20px;

padding:25px;

box-shadow:
0 0 20px rgba(255,0,0,.4);

}

.login-card{

width:420px;

max-width:95%;

text-align:center;

}

/* TITLE */

h1{

color:#ff5555;

margin-bottom:20px;

text-shadow:
0 0 10px red,
0 0 25px red;

}

h2{

margin-bottom:10px;

}

h3{

margin-bottom:10px;

color:#ff7777;

}

/* INPUT */

input,
select{

width:100%;

padding:12px;

margin-bottom:15px;

border:none;

border-radius:12px;

background:#222;

color:white;

font-size:16px;

}

/* BUTTON */

button{

width:100%;

padding:12px;

margin-top:10px;

border:none;

border-radius:12px;

cursor:pointer;

font-size:16px;

font-weight:bold;

color:white;

background:

linear-gradient(
45deg,
#ff0000,
#ff6600
);

transition:.3s;

}

button:hover{

transform:scale(1.03);

box-shadow:
0 0 10px red,
0 0 25px orange;

}

/* WAITING ROOM */

#playerList{

margin-top:20px;
margin-bottom:20px;

}

#playerList div{

padding:12px;

margin-bottom:8px;

border-radius:10px;

background:
rgba(255,255,255,.08);

font-size:18px;

}

#waitingStatus{

font-size:20px;

font-weight:bold;

margin-top:10px;

color:#ffd700;

}

/* GAME */

.container{

width:100%;

max-width:1200px;

text-align:center;

}

.top-panel{

display:flex;

justify-content:center;

margin-bottom:25px;

}

#currentPlayer{

font-size:2.5rem;

margin-top:10px;

}

/* BOARD */

.board{

display:grid;

grid-template-columns:
repeat(3,140px);

gap:12px;

justify-content:center;

margin:30px auto;

}

.cell{

width:140px;
height:140px;

background:#111;

border:
3px solid #ff2222;

border-radius:18px;

display:flex;

justify-content:center;
align-items:center;

font-size:4rem;

cursor:pointer;

transition:.25s;

}

.cell:hover{

transform:scale(1.05);

box-shadow:
0 0 15px red,
0 0 30px red;

}

/* STATUS */

.status{

font-size:1.3rem;

font-weight:bold;

margin-bottom:25px;

color:#ffd700;

}

/* SCORE */

.score-card{

margin-top:25px;

}

table{

width:100%;

border-collapse:collapse;

}

th{

background:#ff0000;

padding:12px;

}

td{

padding:12px;

border-bottom:
1px solid #333;

}

/* ROOM CODE */

#roomCodeText{

color:#00ff88;

font-weight:bold;

}

#gameRoomCode{

color:#00ff88;

font-weight:bold;

}

/* MOBILE */

@media(max-width:768px){

.board{

grid-template-columns:
repeat(3,95px);

}

.cell{

width:95px;
height:95px;

font-size:2.5rem;

}

h1{

font-size:1.8rem;

}

#currentPlayer{

font-size:2rem;

}

.login-card{

width:100%;

}

}